<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<title>Browser Score</title>
<link rel="icon" href="ui/logo.svg" id="favicon" />
<link rel="stylesheet" href="ui/css/style.css" />
<script>
	document.documentElement.style.colorScheme = localStorage.getItem('color-scheme-toggle');
</script>
<script src="src/app.js" type="module"></script>

</head>
<body>

<h1>
	<a href="/">
		<small>How does my</small>
		Browser Score?
	</a>
</h1>

<template id="feature-component-template">
	<details v-if="feature.children?.length > 0" class="feature-group" :key="feature.uid" :id="feature.htmlId" ref="details" @toggle="handleToggle">
		<summary class="feature" :class="passclass(feature.score)">
			<support-status :score="feature.score"></support-status>
			<span class="title" v-if="feature.title" v-text="feature.title"></span>
			<code class="title" v-else v-text="feature.code ?? feature.id"></code>

			<a v-if="feature.specLink" :href="feature.specLink" target="_blank" class="badge spec-link" :class="`${feature.spec.org.id}-link`">Spec</a>
			<a v-if="feature.draftLink && feature.draftLink !== feature.specLink" :href="feature.draftLink" target="_blank" class="badge spec-link" :class="`${feature.spec.org.id}-link`">Draft</a>
			<a v-if="feature.mdnLink" :href="feature.mdnLink" target="_blank" class="badge spec-link mdn-link">MDN</a>
		</summary>

		<template v-for="child, index of renderedChildren" :key="feature.getUid('.', index)">
			<bs-feature :feature="child"></bs-feature>
		</template>
	</details>
	<article v-else class="feature" :class="passclass(feature.score)" ref="container">
		<support-status :score="feature.score"></support-status>
		<span class="title" v-if="feature.title" v-text="feature.title"></span>
		<code class="title" v-else v-text="feature.code ?? feature.id"></code>

		<a v-if="feature.specLink" :href="feature.specLink" target="_blank" class="badge spec-link" :class="`${feature.spec.org.id}-link`">Spec</a>
		<a v-if="feature.draftLink && feature.draftLink !== feature.specLink" :href="feature.draftLink" target="_blank" class="badge spec-link" :class="`${feature.spec.org.id}-link`">Draft</a>
		<a v-if="feature.mdnLink" :href="feature.mdnLink" target="_blank" class="badge spec-link mdn-link">MDN</a>

		<span class="prefix" v-if="feature.result?.prefix">{{ feature.result.prefix }}</span>
		<span class="note" v-if="feature.result?.note">{{ feature.result.note }}</span>
	</article>
</template>

<div id="content" v-cloak>
	<color-scheme-toggle></color-scheme-toggle>

	<main id="tests">
		<header>
			<h1>Your browser scores <strong v-content="percent(score)">0%</strong></h1>

			<p>
				<support-status :score="score" ref="supportStatus"></support-status>
				Recognized
				<span :title="`passed ${round(score.passedTests)} out of ${score.totalTests} tests`">
					<strong v-content="round(score.passed)">0</strong>
					out of <strong v-content="round(score.total)">0</strong> features
				</span>
				in <strong v-content="round(score.testTime) + ' ms'">0 ms</strong>
			</p>
		</header>

		<section id="all">
			<details v-for="spec in specs" :key="spec.uid" :id="spec.htmlId" class="spec" open>
				<summary>
					<support-status :score="spec.score"></support-status>
					<h1 class="title">
						<a :href="'#' + spec.htmlId" v-text="spec.title"></a>
						<a v-if="spec.specLink" :href="spec.specLink" target="_blank" class="badge primary spec-link" :class="`${spec.org.id}-link`">
							{{ spec.org.title }}
							<span v-if="spec.link === spec.draftLink">Proposal</span>
						</a>
						<a v-if="spec.specLink && spec.link !== spec.specLink" :href="spec.specLink" target="_blank" class="badge spec-link" :class="`${spec.org.id}-link`">Spec</a>
						<a v-if="spec.draftLink && spec.draftLink !== spec.specLink" :href="spec.draftLink" target="_blank" class="badge spec-link" :class="`${spec.org.id}-link`">Draft</a>
						<a v-if="spec.mdnLink" :href="spec.mdnLink" target="_blank" class="badge spec-link mdn-link">MDN</a>
					</h1>
				</summary>
				<section v-for="features, type in spec.features" :key="spec.getUid('.', type)">
					<h2 v-text="featureTypeTitles[type] ?? type"></h2>
					<bs-feature :feature="feature" v-for="feature in features"></bs-feature>
				</section>
			</details>
		</section>
	</main>

	<aside>
		<carbon-ads params="zoneid=1673&serve=C6AILKT&placement=css3testcom"></carbon-ads>

		<section>
			<h1>Filter:</h1>
			<form>
				<select id="filter" v-model="filter.show">
					<option value="" title="All specifications including experimental ones but without CSS 2.2">All except CSS 2.2</option>
					<option value="all" title="All specifications including experimental ones">All</option>
					<option value="stable" title="All specifications listed in the latest CSS snapshot, their predecessors and others that won't change much anymore">Stable</option>
					<option value="experimental" title="All specifications not listed in the latest CSS snapshot">Experimental</option>
					<optgroup label="Standardization groups">
						<option value="csswg" title="All specifications managed by the CSS Working Group (CSSWG) except CSS Houdini">CSS</option>
						<option value="houdini" title="All specifications related to CSS Houdini managed by the CSS Working Group (CSSWG)">CSS Houdini</option>
						<option value="svgwg" title="All specifications managed by the SVG Working Group (SVGWG)">SVG</option>
						<option value="whatwg" title="All specifications managed by the Web Hypertext Application Technology Working Group (WHATWG)">WHATWG</option>
						<option value="others" title="All specifications managed by other standardization groups">Others</option>
					</optgroup>
					<optgroup label="CSS snapshots">
						<option value="css2.2" title="Everything included in CSS 2.2">CSS 2.2</option>
						<option value="css2007" title="All specifications marked as official part of the CSS 2007 snapshot">CSS 2007</option>
						<option value="css2010" title="All specifications marked as official part of the CSS 2010 snapshot">CSS 2010</option>
						<option value="css2015" title="All specifications marked as official part of the CSS 2015 snapshot">CSS 2015</option>
						<option value="css2017" title="All specifications marked as official part of the CSS 2017 snapshot">CSS 2017</option>
						<option value="css2018" title="All specifications marked as official part of the CSS 2018 snapshot">CSS 2018</option>
						<option value="css2020" title="All specifications marked as official part of the CSS 2020 snapshot">CSS 2020</option>
						<option value="css2021" title="All specifications marked as official part of the CSS 2021 snapshot">CSS 2021</option>
						<option value="css2022" title="All specifications marked as official part of the CSS 2022 snapshot">CSS 2022</option>
						<option value="css2023" title="All specifications marked as official part of the CSS 2023 snapshot">CSS 2023</option>
						<option value="css2024" title="All specifications marked as official part of the CSS 2024 snapshot">CSS 2024</option>
					</optgroup>
				</select>
			</form>
		</section>

		<section>

			<h1>
				{{ specs.length }} specs tested
				<ui-tooltip>
					<button class="icon" style="--icon: var(--icon-warning)"></button>
					<section class="caution tooltip">
						<p><strong>Caution:</strong>
						This test checks which web platform features the browser recognizes, <em>not</em> whether they are implemented correctly.</p>
					</section>
				</ui-tooltip>

			</h1>
			<ul id="specsTested">
				<li v-for="spec in specs" :key="spec.id" :class="passclass({
					passed: spec.score.passed,
					total: spec.score.total,
				})">
					<support-status :score="spec.score"></support-status>
					<a :href="`#${spec.id}`">{{ spec.title }}</a>
				</li>
			</ul>
			<p>Want more tests? <a href="https://github.com/LeaVerou/css3test" target="_blank">Be my guest!</a></p>
		</section>

		<footer>
			<p>
				Handcrafted by <a href="https://lea.verou.me">Lea Verou</a> and <a href="https://github.com/LeaVerou/css3test/graphs/contributors">friends</a>
				&#10047; <a href="https://github.com/sponsors/LeaVerou">Sponsor</a>
			</p>
		</footer>
	</aside>
</div>

</body>
</html>
