.featurish {
	small {
		display: block;
		opacity: .8;
	}

	.count {
		display: inline-flex;
		background: light-dark(color-mix(in oklab, var(--color), white 80%), oklch(from var(--color) calc(l * .85) c h));
		padding: 0 .3em;
		min-width: 2em;
		line-height: 1.8;
		border-radius: 4em;
		align-items: center;
		justify-content: center;
		font-size: clamp(var(--font-size-xs), 85%, var(--font-size-m));
		font-weight: bold;
	}

	.title {
		flex: 1;

		.badge {
			margin-inline-start: 1ch;
		}
	}

	.meta {
		display: flex;
		gap: .2em;
		align-items: center;
	}
}

.feature-group > summary {
	display: flex;
	align-items: center;
	gap: 0.5em;

	.title:not(.feature *) {
		font-weight: bold;

		&:is(h1, h2) {
			margin: 0;
			font-size: inherit;
		}
	}

	&:not(.feature, .feature *) {
		margin-block: 1em .5em;
	}

	&:has(> h2) {
		font-size: var(--font-size-xl);
	}
}

.spec {
	padding-block-start: 2rem;

	> summary {
		font-size: var(--font-size-2xl);
	}
}

.group-title {
	color: var(--color-text-soft);
	font-size: var(--font-size-l);
	font-weight: bold;
	text-transform: capitalize;
}

.feature {
	color-scheme: dark;
	display: flex;
	gap: .5em;
	align-items: center;
	padding: .5em .6em;
	background: var(--color, var(--color-gray));
	color: oklch(from var(--color) var(--text));
	border-radius: .3em;
	position: relative;
	--progress-color: oklch(from var(--color) calc(l + 0.4) 0 0);

	.badge {
		transition: opacity 100ms 100ms;
	}

	&:not(:hover, :focus-within, :target) .badge {
		opacity: 0;
	}

	.progress {
		height: 1.2lh;

		.x {
			opacity: .5;
		}
	}
}

.feature-group,
.feature-children > .feature {
	margin-block: .3em;
}

.feature .feature-children,
.feature + .feature-children {
	margin-block: .3em;
	margin-inline-start: 2em;
	font-size: max(var(--font-size-xs), 85%);
}
