@import "tokens.css";
@import "icons.css";

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}
}

:focus {
	outline: .1em dotted var(--highlight-background-color);
	outline-offset: .1em;
}

body {
	max-width: 60em;
	padding: 1em;
	margin: auto;
	background: var(--color-bg);
	color: var(--color-text);
	font: 100%/1.5 var(--font-body);
}

a {
	color: var(--color-text-soft);
	font-weight: bold;
	text-decoration: none;
}

h1,
h2 {
	margin: 1em 0 .5em;
	font-family: var(--font-heading);
	font-weight: normal;
	line-height: 1;
}

#content > section section section {
	h1 {
		display: flex;
		align-items: center;
		font-size: 180%;
		gap: 0.5em;
	}

	section h1 {
		color: var(--color-text-soft);
		font-size: 120%;
		font-weight: bold;
		text-transform: capitalize;
	}
}

h1 > .score {
	margin-left: auto;
	font-weight: bold;
}

.icon,
.icon-before::before,
.spec-link::before {
	content:'';
	display: inline-block;
	height: 16px;
	width: 16px;

	background: var(--icon-color, currentColor);
	-webkit-mask: var(--icon) no-repeat center / contain;
	mask: var(--icon) no-repeat center / contain;
	vertical-align: -3px;
	margin-right: 3px;
	opacity: .9;
}

.spec-links {
	display: flex;
}

.spec-link {
	display: flex;
	align-items: center;
	padding: .3em .4em;
	margin: -.5em 0 -.5em .3em;
	font-family: var(--font-sans);
	font-size: 0.85rem;
	background-color: var(--spec-link-background-color);
	color: var(--spec-link-foreground-color);
	--icon-color: light-dark(color-mix(in oklab,
	var(--brand-color, currentColor), var(--spec-link-foreground-color) 75%),
	var(--brand-color, currentColor));
	border-radius: .25em;
	vertical-align: middle;

	&:hover,
	&:focus {
		outline: none;
		--background: var(--brand-color, var(--highlight-background-color));
		background: var(--background);
		color: oklch(from var(--background) var(--text));

		&::before,
		&::after {
			--icon-color: oklch(from var(--background) var(--text));
		}
	}
}

.w3c-link {
	--icon: var(--icon-w3);
	--brand-color:  #005a9c;
}

.mdn-link {
	--icon: var(--icon-mdn);
	--brand-color:  black;
}

.whatwg-link {
	--icon: var(--icon-whatwg);
	--brand-color: #3c790a;
}

details summary {
	> .spec-link {
		display: none;
		vertical-align: inherit;

		&::before {
			height: 18px;
			width: 18px;
			background-size: 18px 18px;
			vertical-align: -4px;
		}
	}

	&:hover,
	&:focus-within {
		> .spec-link {
			display: inline-block;
		}
	}
}

body > h1 {
	position: fixed;
	left: 0;
	top: 0;
	padding: .5em 1em;
	background: var(--title-background-color);
	color: var(--title-foreground-color);
	z-index: 1;
	font-size: 150%;
	font-weight: bold;
	text-transform: uppercase;
	transform:  rotate(-90deg) translateX(-100%);
	transform-origin: top left;
}

#content {
	display: flex;
	gap: 2em;
}

#tests {
	flex: 2;
}

#tests > header {
	text-align: center;

	> h1 {
		font-size: 250%;
	}

	> h1 > strong {
		display: block;
		margin-top: .1em;
		font-size: 500%;
		line-height: .7;
	}

	> p {
		font-size: 80%;
	}
}

details {
	margin: .3em 0;
	font: 100% var(--font-mono);
}

details summary,
details li[class] {
	padding: .5em;
	background: gray;
	color: white;
	border-radius: .3em;
	position: relative;
}

details summary {
	list-style: none;
	cursor: pointer;
	padding-top: .6em;
	padding-right: 2em;
	background: linear-gradient(var(--progress-color), var(--progress-color)) no-repeat 0 0 / calc(var(--progress) * 1%) .2em;
}

details summary::-webkit-details-marker {
	display: none;
}

details ul {
	margin: 0;
	padding: 0 0 0 2em;
}

details li[class] {
	list-style: none;
	margin: .3em 0;
	font-size: 90%;
	white-space: pre;
	white-space: break-spaces;

	small {
		display: block;
		opacity: .8;
	}
}

.pass {
	--color: var(--color-pass);
}

.almost-pass {
	--color: var(--color-almost-pass);
}

.slightly-buggy {
	--color: var(--color-slightly-buggy);
}

.buggy {
	--color: var(--color-buggy);
}

.very-buggy {
	--color: var(--color-very-buggy);
}

.fail {
	--color: var(--color-fail);
}

.epic-fail {
	--color: var(--color-epic-fail);
}

details summary[class],
details li[class],
#specsTested li[class]::before {
	background-color: var(--color);
	color: oklch(from var(--color) var(--text));
}

details summary::before {
	content: '▶';
	display: inline-block;
	margin-right: .5em;
	font-size: 60%;
	opacity: .5;
}

details[open] summary::before {
	content: '▼';
}

.prefix {
	display: inline-block;
	padding: .3em .4em;
	margin: -.5em 0 -.5em .3em;
	font-family: sans-serif;
	font-size: 0.7rem;
	background: var(--prefix-background-color);
	color: var(--prefix-foreground-color);
	border-radius: .3em;
	vertical-align: middle;
}

/* Emoticons */

details summary::after,
details li[class]::after,
#specsTested li::after {
	opacity: 0.75;
	position: absolute;
	top: 0;
}

details summary::after,
details li[class]::after {
	letter-spacing: -2px;
	padding-top: .6em;
	right: 10px;
}

#specsTested li::after {
	font: 83.3%/29px var(--font-mono);
	right: 0;
}

.almost-pass::after {
	content: ':)';
}

.buggy::after {
	content: ':(';
}

.epic-fail::after {
	content: '›:(';
}

.fail::after {
	content: ':′(';
}

.pass::after {
	content: ':D';
}

.slightly-buggy::after {
	content: ':|';
}

.very-buggy::after {
	content: ':o';
}

/* End emoticons */

aside {
	flex: 1;
	font-size: 85%;
	align-self: flex-end;
	position: sticky;
	bottom: 0;

	.caution p {
		padding: 1em;
		background: var(--color-bg-loud);
		color: var(--color-text-loud);
	}

	h1 {
		font-size: 150%;
	}

	ul {
		max-height: calc(100vh - 18em);
		overflow: auto;
		margin: .5em 0;
		padding: 0;
	}

	li {
		list-style: none;
		padding: .3em 0;
		border-bottom: 2px dotted var(--color-border);

		&:first-child {
			border-top: none;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

#specsTested li {
	position: relative;
}

#specsTested li::before {
	content: '';
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	margin-right: .5em;
	vertical-align: -.2em;
	border-radius: 50%;
}

footer {
	word-spacing: -1px;

	> p {
		padding: 1em 0;
		border-top: 1px solid var(--footer-border-color);
		text-align: center;
	}
}

/* Carbon Ads */
#carbonads {
	display: block;
	overflow: hidden;
	padding: 1em;
	border: solid 1px var(--aside-border-color);
	background-color: var(--aside-background-color);
	font-size: 12px;
	line-height: 1.5;

	a {
		font-weight: 400;
		color: var(--aside-foreground-color);
		text-shadow: none;
	}

	span {
		position: relative;
		display: block;
		overflow: hidden;
	}
}

.carbon-img {
	float: left;
	margin-right: 1em;

	img {
		display: block;
	}
}

.carbon-text {
	display: block;
	float: left;
	max-width: calc(100% - 130px - 1em);
	text-align: left;
}

.carbon-poweredby {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	font-size: 10px;
}
